<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup">
      <section name="DroidScan4PC.Properties.Settings" type="System.Configuration.ClientSettingsSection" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DroidScan4PC.Properties.Settings>
      <setting name="KeysSequence" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="IsUpgrade" serializeAs="String">
        <value>False</value>
      </setting>
    </DroidScan4PC.Properties.Settings>
  </userSettings>
</configuration>